*.zip
*.hdf5
__pycache__/
*.pyc
*.pyo
*.so
*.egg-info
*.egg
*.egg-info
*.egg-info/
*.egg-info/*
*.egg-info/*/
*.egg-info/*/*
*.egg-info/*/*/
*.egg-info/*/*/*
*.egg-info/*/*/*/
*.egg-info/*/*/*/*
*.egg-info/*/*/*/*/
Embeddings/
logs/

